body {
  background-color: black;
  color: pink;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}